@import '../../vars.scss';

.gameboard {
    width: 100%;
    display: flex;
    justify-content: center;
}
.board {
    min-height: 10em;
    justify-content: center;
    flex-flow: row wrap;
    display: flex;
    max-width: 35em;
    .game-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }
    .game-cell {
        width: 10em;
        max-width: 10em;
        height: 10em;
        color: $color-background;
        background-color: $color-game-canvas;
        border: 0.5px solid $color-background;
        flex: 1 auto;
        display: flex;
        justify-content: center;
        &.winpath {
            color: #F2C94C;
            border: 0.5px solid #F2C94C;
            background: #0C0C56;
        }
    }
    .symbolIcon {
        flex: 1 auto;
        padding: 0.8em;
        border: none;
        font-family: $font-stack2;
        font-size: 1em;
        // line-height: 40%;
    }
}
