@import '../../vars.scss';

.gameboard {
    width: 90%;
    min-height: 10em;
    display: flex;
    justify-content: center;
    .game-cell {
        width: 10em;
        height: 10em;
        color: $color-background;
        background-color: $color-game-canvas;
        border: 0.5px solid $color-background;
        flex: 1 auto;
        display: flex;
        justify-content: center;
    }
    .symbolIcon {
        flex: 1 auto;
        padding: 0.8em;
        border: none;
        font-family: $font-stack2;
        font-size: 1em;
        // line-height: 40%;
    }
}