@import '../../vars.scss';

p {
    color: $color-yellow;
    font-family: $font-stack1;
    font-size: 2em;
    padding: 0.5em;
    line-height: 140%;
    min-height: 2.5em;
}

@media screen and (max-width: 465px) {
    p {
        font-size: 1.5em;
    }
}