@import '../../vars.scss';

.msgblock-P2link {
    font-family: $font-stack2;
    background-color: $sharelink-bg;
    padding-bottom: 0.6rem;
    p {
        font-family: $font-stack2;
        color: black;
        font-size: 1.6em;
        margin: 0;
        padding: 0.6rem 0.2rem 0;
    }
    .wrapper {
        max-width: 60em;
        margin: 0 auto;
    }
}

#copy-P2-link {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

#P2-link {
    word-break: break-all;
    font-style: italic;
    flex: 0 1 80%;
}

#copy-icon {
        text-transform: uppercase;
        color: #F2F2F2;
        flex: 0 1 20%;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
        align-self: flex-end;  
    }
