// Palette

$color-background: #040404;
$color-yellow: #F2B90C;
$color-player1: #0E0EC9;
$color-player2: #AD1111;
$color-base-button: #333333;
$color-game-canvas: #AF9B5D;
$sharelink-bg: #ec555b;
$color-draws: #868686;
$light-grey: #F2F2F2;


// Fonts 
$font-stack1: "Press Start 2P", "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
$font-stack2: Arial, "Helvetica Neue", Helvetica, sans-serif;


// Mix-ins

@mixin main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 55vh;
    max-height: 95vh;
}

@mixin player1 {
    background: $color-player1;
    &:active, &:hover {
        border: 1px solid $color-yellow;
    }
}

@mixin player2 {
    background: $color-player2;
    &:active, &:hover {
        border: 1px solid $color-yellow;
    }
    
}

