@import './vars.scss';

.App {
    background-color: $color-background;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
}
