@import './vars.scss';
// Import assets
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
// ENDOF import assets

.App {
    background-color: $color-background;
    min-height: 100vh;
    text-align: center;
}
