@import './vars.scss';
// Import assets
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
// ENDOF import assets

.App {
    background-color: $color-background;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    .app-wrapper {
        width: 85vw;
        max-width: 768px;
        @include main-wrapper;
    }
}
