/* Palette */

$color-background: #040404;
$color-yellow: #F2B90C;
$color-player1: #0E0EC9;
$color-player2: #AD1111;
$color-base-button: #333333;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
$font-stack1: "Press Start 2P", "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
$font-stack2: Arial, "Helvetica Neue", Helvetica, sans-serif;

